---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header";
import Main from "../components/main";
---

<Layout title="Henrys site">
  <div class="mx-12">
    <section class="flex flex-col w-4/5 px-12 items-center mx-auto">
      <Main />
    </section>
  </div>
</Layout>
